{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Historial de pings{% endblock %}</h1>
    <a class="action" href="{{ url_for('pc.index') }}">Regresar</a>
    {% endblock %}

    {% block content %}
    {% for ping in pings %}
        <article class="article">
        <header>
            <div>
            <h1>{{ pc.name }}</h1>
            <div class="about">IPV4: {{ pc.ipv4 }}</div>
            </div>
        </header>
        <p class="body">ID:{{ ping.id }}, estado: {{ "Exitosa" if ping.success else "Fallida" }}, paquetes enviados: {{ ping.sent }}</p>
        <p class="body">paquetes perdidos: {{ ping.lost }}, IP usada: {{ ping.ipv4_used }} realizada: {{ ping.created }}</p>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}