{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Resultados de la prueba de latencia{% endblock %}</h1>
  <a class="action" href="{{ url_for('pc.index') }}">regresar</a>
{% endblock %}

{% block content %}
  <article class="article">
    <header>
        <div>
        <h1>{{ pc.name }}</h1>
        <div class="about">IPV4: {{ pc.ipv4 }}</div>
        </div>
    </header>
    <p class="body">ID:{{ ping.id }}, estado: {{ "Exitosa" if ping.success else "Fallida" }}, paquetes enviados: {{ ping.sent }}</p>
    <p class="body">paquetes perdidos: {{ ping.lost }}, IP usada: {{ ping.ipv4_used }}</p>
    
  </article>
{% endblock %}