{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Editar "{{ pc['name'] }}"{% endblock %}</h1>
  <a class="action" href="{{ url_for('pc.index') }}">regresar</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Equipo</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or pc.name }}" required>
      <input name="ipv4" id="ipv4"
      value="{{ request.form['ipv4'] or pc.ipv4 }}" required>
    <input type="submit" value="Guardar">
  </form>
  {% if delete %}
    <form action="{{ url_for('pc.delete', id=pc.id) }}" method="post" style="position: absolute;bottom: 24px;right: 15px;">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('¿esta seguro que desea eliminar el equipo?');">
    </form>
  {% else %}
    <em style="margin-bottom:10px">Los equipos a los que se le haya realizado pruebas de latencia no pueden ser eliminados</em>
  {% endif %}
{% endblock %}